.chatbox {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chatbox__noroom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chat__header {
  padding: 20px;
  display: flex;
  align-items: center;
}

.header > p {
  border-bottom: 1px solid lightgray;
  color: gray;
  padding-left: 70px;
}
.chat__headerInfo {
  flex: 1;
  padding-left: 20px;
}

.chat__message {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 2rem;
  width: 60% !important;
}

.chat__messageContainer {
  position: relative;
  font-size: 16px;
  padding: 10px;
  background-color: #222833;
  color: white;
  border-radius: 10px;
  width: fit-content;
  /* margin-bottom: 30px; */
}

.chat__reciever {
  margin-right: 1rem;
  padding-right: 10px;
  color: white;
  margin-left: auto;
  width: fit-content;
  display: flex;
  flex-direction: row-reverse;
}

.chat__reciever > .chat__messageContainer {
  background-color: #2e81f4;
}

.chat__sender {
  color: black;
  position: absolute;
  left: 0px;
  top: -15px;
  padding-left: 5px;
  font-weight: 800;
  font-size: xx-small;
}

.chat__timestamp {
  margin-left: auto;
  text-align: right;
  font-size: xx-small;
}

.text__ellipsis {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-between;
}

.message__mediabox > img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.chat__expandMore {
  display: none;
}

.chat__message:hover > .text__ellipsis > .chat__expandMore {
  display: inline;
}

.chat__headerInfo > h3 {
  font-weight: 500;
}

.chat__headerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100px;
}

.chat__body {
  /* width: 100%; */
  flex: 1 1;
  padding: 30px 0px 30px 30px;
  background-image: url('https://support.delta.chat/uploads/default/768ded5ffbef90faa338761be1c5633d91cc35e3');
  background-repeat: repeat;
  background-position: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.chat__goBack {
  display: none;
}

.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 10px;
  height: auto;
  border-top: 1px solid lightgray;
}

.chat__footer > form {
  flex: 1;
  display: flex;
}

.chat__footer > form > input {
  flex: 1;
  border-radius: 30px;
  font-size: large;
  outline-width: 0;
  overflow: hidden;
  resize: none;
  padding: 10px;
  border: none;
}

.chat__footer > form > .button {
  width: 5vw;
  color: black;
  border-radius: 999px;
  cursor: pointer;
  outline-width: 0;
  height: auto;
}

.chat__footer > form > button > input {
  visibility: hidden;
  width: 0;
  height: 0;
}
.chat__footer > .MuiSvgIcon-root {
  color: grey;
  margin: 10px;
}

/* .text {
    position: relative;
    font-size: 14px;
    color: black;
    width: 250px; /* Could be anything you like. 
  }
   
  .chat__messageLength {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em; 
    line-height: 1.2em;
    text-align:justify;
  }
  
  .text.ellipsis::after {
    content: "...";
    position: absolute;
    right: -12px; 
    bottom: 4px;
  } */
.chat__messageLength {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: auto;
  max-height: auto;
  -webkit-line-clamp: auto;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 800px) {
  .chat {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .chat__goBack {
    display: inline-block;
    padding: 10px;
  }
}

.loginMessage {
  padding: 10px;
  margin: auto;
}
